<footer>
  <div class="footer-content">
    <a href="https://www.facebook.com/" target="_blank"
      ><img src="images/facebook-icon.png" alt="Facebook"
    /></a>
    <a href="https://www.youtube.com/" target="_blank"
      ><img src="images/youtube-icon.png" alt="YouTube"
    /></a>
    <br />
    <span>Developed by Bard</span>
    <br />
    <span>All copyrights reserved 2023</span>
  </div>
</footer>
