<!DOCTYPE html>
<html>
  <head>
    <title>Education Platform</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <a href="#">
        <img class="logo" alt="Omnifood logo" src="images/chemistryLogo.jpg" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#login">تسجيل الدخول</a></li>
          <li>
            <a class="main-nav-link nav-cta" href="#register">أنشئ حساب</a>
          </li>
        </ul>
      </nav>

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
  </body>
</html>
