<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/navbarStyle.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/chemistryLogo.jpg"></a>
      </div>

      <div class="auth">
        <a href="#" class="signup-btn">أنشئ حساب</a>
        <a href="#">تسجيل الدخول</a>
      </div>

      <div class="burger-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <!-- <nav class="navbar">
      <div class="navbar-container">
        <a href="#" class="navbar-logo">
          <img
            src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg"
            alt="Udemy Logo"
          />
        </a>
        <ul class="navbar-menu">
          <li class="navbar-item">
            <a href="#" class="navbar-link">Categories</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">Courses</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">Instructors</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">Blog</a>
          </li>
        </ul>
        <div class="navbar-search">
          <input type="text" class="navbar-search-input" placeholder="Search" />
          <button class="navbar-search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <button class="navbar-button">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <button class="navbar-button">
          <i class="fas fa-user"></i>
        </button>
        <button class="navbar-toggle">
          <span class="navbar-toggle-icon"></span>
        </button>
      </div>
    </nav> -->
  </body>
</html>
