nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #031d29;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.auth a {
  background-color: transparent;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.auth a:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #239fbe;
}

.signup-btn {
  background-color: #4899b9;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
}

.signup-btn:hover {
  background-color: #5ba7ce;
}
.burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .auth {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .burger-menu div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
  }
}
